body{
    background-color:#f3f3f3;
    font-family: 'Poppins', sans-serif;
    font-size:15px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif !important;
    color:#1b1b1b;
}
p{
    font-family: 'Nunito', sans-serif;
}
fw-300{ font-weight: 300; }
fw-400{ font-weight: 400; }
fw-500{ font-weight: 500; }
fw-600{ font-weight: 600; }
fw-700{ font-weight: 700; }
fw-200{ font-weight: 200; }
.navbar-brand{
    font-family: 'Poppins', sans-serif !important;
    font-weight: 700 !important;
    color:#1b1b1b;
}
.nav-item{
    font-family: 'Poppins', sans-serif !important;
}